
  body{
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.3em;
  }
   
  /* Header/Logo Title */
  .header { 
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background: #37d6b6;
    color: white;
    font-size: 30px;
  }
  
  .navbar{
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
  }
    
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(53, 53, 53);
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .navbar li a:hover:not(.active) {
    background-color: rgb(71, 71, 71);
    color:  #37d6b6;
  }
  
 


.description {
  padding-top: 10px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 15px;    
  text-align: left;

}

.description ul{
  list-style: square; 
 
}
.description li{

  list-style: square; 
}

.left {
  float: left;
  width: 45%;
  
}

.right {
  float: right;
  width: 45%;  
  right: 0;
 
}


.responsive {
  width: 60%;
  right: 0;
  height: auto;
  max-height: 750px;
  max-width: 630px;
  caption-side: bottom;
}
html {
  overflow: scroll;
}