
  body{
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.3em;
  }
   
  /* Header/Logo Title */
  .header { 
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background: #37d6b6;
    color: white;
    font-size: 30px;
  }
  
 
.description {
  padding-top: 10px;
 
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 15px;    
  margin-left: 20;
  position: fixed;
  overflow-x: hidden;

}

.left {
  text-align: left;
  width: 33%;
  left: 4;
}

.right {
  text-align: center;
  width: 60%;
  left: 40%;
  right: 0;
  
}

  /* Page Content */
  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(53, 53, 53);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(71, 71, 71);
}

.active {
  background-color: #4CAF50;
}

.responsive {
  width: 40%;
  right: 0;
  height: auto;
}


